*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: black;
}
header{
    text-align: center;
    padding: 1rem;
    color: antiquewhite;
    background-color: rgb(153, 143, 143);
}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}
.nav-links a {
    text-decoration: solid;
    font-weight: bold;
    display: flex;
}
.content{
    display: grid;
    padding: 1rem;
    max-width: fit-content;
    margin: 0;
    justify-content: left;
}
.welcome{
    text-align: center;
    justify-content: center;
    display: flex;
}
.welcome h1{
    font-size: 2rem;
    color: black;
    justify-content: center;
}
.info p{
    font-size: 1.4rem;
    color: black;
    justify-content: left;
}
.about{
    text-align: center;
    background-color: white;
    padding: 2rem;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
.about h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgb(153, 143, 143);
}
.about p {
    font-size: 1.5rem;
    color: black;
}
.contact{
    padding: 2rem;
    border: 1px solid #d9d9d9;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: white;
}
.contact h1{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contact form{
    display: grid;
    gap: 1rem;
}
.contact label{
    font-weight: bold;
}
.contact input, .contact textarea{
    width: 100;
    padding: 0.6rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 1.5rem;
}
.contact button{
    background-color: blue;
    color: #d9d9d9;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}
.contact button:hover{
    background-color: #d9d9d9;
}
footer{
    background-color: rgb(153, 143, 143);
    color: #d9d9d9;
    text-align: center;
    padding: 1.5;
    margin-top: 2rem;
}
.football-news button{
    background-color: blue;
    color: #d9d9d9;
    border: none;
    padding: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.football-news button:hover {
    background-color: black;
}
@media (max-width: 768px) {
    .nav-links{
        flex-direction: column;
    }
    .nav-links{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .nav-links{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1025px) {
    .nav-links{
        grid-template-columns: repeat(3, 1fr);
    }
}